@import "tailwindcss";
@import "react-datepicker/dist/react-datepicker.css";

:root {
  --background: #fafafa;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins), Arial, Helvetica, sans-serif;
  padding: 40px 0;
}
